body {
   margin: 0;
}

section {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: 100%;

   /*provide png image for background*/
   background: url('../images/sun.png') no-repeat;
   background-position-x: center;
   background-size: cover;
   /* animation: animateBg 5s linear infinite; */
   background-attachment: fixed;
}

.accessUIDiv {
    margin: 10px;
/*    padding: 10px 10px;*/
    text-align: center;
}

/* add contact */
.add-contact-panel{
   margin: 20px;
/*   position: relative;*/
   left: 50px;
   width: fit-content;
   height: 745px;
   background: transparent;
   border: 2.25px solid rgba(255,255,255,0.6);
   border-radius: 20px;
   backdrop-filter: blur(60px);
}

/* "add contact" header */
.add-contact-panel h1 {
   margin: 50px;
   font-size: 40px;
   color: #FFFFFF;
   text-align: center;
}

/* input boxes and submit button*/
#addMe {
   width: fit-content;
   margin-top: 20px;
   text-align: center;
}

/* input boxes for contact */
#addMe input {
   margin: 0px 10px 10px 10px;
   background: transparent;
   padding: 8px;
   font-size: 20px;
   color: white;
   background: rgba(255, 255, 255, 0.1);
   border: 3px solid #FFFFFF;
   border-radius: 7px;
}

/* headers for input boxes */
#addMe h3{
   font-size: 15px;
   margin-left: 15px;
   margin-top: 20px;
   text-align: left;
   color: white;
}

/*#addMe>input:valid {
   border: 2px solid #009345;
   ;
}

#addMe>input:invalid {
   border: 2px solid red;
}

#addMe>input:invalid:required {
   background-image: white;
}*/

/* submit button*/
#addMe button {
   font-size: 30px;
   margin: 10px;
   width: 80%;
   height: 59px;
   background: #FFFFFF;
   border-radius: 5px;
   border: 1px;
}

.right-panel-content {
   overflow: hidden;
   margin-left: 20px;
   width: 40%;
   height: 745px;
   background: transparent;
   border: 2.25px solid rgba(255,255,255,0.6);
   border-radius: 20px;
   backdrop-filter: blur(60px);
/*   display: flex;
   justify-content: center;
   align-items: left;*/
}

.navigation-bar {
   margin: 20px;
}

/*search bar*/
.search-row input[type=text]{
   width: 60%;
   height: 18px;
   margin: 12px 12px;
   background: rgba(217, 217, 217, 0.3);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 20px;
   border: ;
   font-size: 18px;
   color: #FFFFFF;
   padding: 6px 20px;
   align-items: center;
   cursor: pointer;
}

.search-row button {
   margin: 10px;
   width: 50px;
   font-size: 30px;
   color: black;
}

.search-row .search-btn .fas {
   margin: 10px;
   color: black;
   font-size: 17px;
}

#contacts td input {
   border-radius: 10px;
   font-family: 'Montserrat';
   outline: 0;
   background: #fbde99;
   width: 100%;
   border: 0;
   margin: 0 0 15px;
   padding: 10px;
   box-sizing: border-box;
   font-size: 14px;
}

/* button formatting */
/*.btn {
   color: #007D2F;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: bolder;
   font-size: 2.3vw;
   background: none;
   border: none;
   cursor: pointer;
   padding: 0.3em 1.2em;
   margin: 0.6em 0.3em 0.3em 0;
   float: right;
}*/

 table {
   width:100%;
   table-layout: fixed;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

.contact-table {
   border-collapse: collapse;
   margin: 25px 0;
   font-size: 0.9em;
   min-width: 400px;
}

.tbl-content {
   height: 300px;
   overflow-x: auto;
   margin-top: 0px;
/*   border: 1px solid rgba(155, 188, 115, 0.9);*/
}

#contacts td,
#contacts th {
   border: 1px solid rgba(155, 188, 115, 0.9);
}

#contacts tr:hover {
   background-color: #478fbb;
}

#contacts th {
   padding: 20px 15px;
   text-align: left;
   font-family: 'Montserrat';
   font-weight: 500;
   font-size: 16px;
   font-weight: bold;
   color: #007D2F;
   background-color: rgba(155, 188, 115, 0.9);
   text-transform: uppercase;
}

#contacts td {
   padding: 15px;
   text-align: left;
   font-family: 'Montserrat';
   vertical-align: middle;
   font-weight: 300;
   font-size: 15px;
   font-weight: bold;
   color: #66471b;
   background-color: antiquewhite;
}
#contacts td span {
   display: block;
   white-space: nowrap;
   overflow: hidden;
   font-size: 100%;
   color: #66471b;
} 