body {
   margin: 0;
}

section {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: 100%;

   /*provide png image for background*/
   background: url('../images/sun.png') no-repeat;
   background-position-x: center;
   background-size: cover;
   /* animation: animateBg 5s linear infinite; */
   background-attachment: fixed;
}

.accessUIDiv {
    margin: 10px;
/*    padding: 10px 10px;*/
    text-align: center;
}

.column {
    display: inline-block;
    padding: 10px 10px;
    vertical-align: middle;
}

.column button {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 100px;
    height: 50px;
    font-size: 18px;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
/*    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
}

.contacts-list{
   position: absolute;
   left: 50px;
   width: 400px;
   height: 745px;
   background: transparent;
   border: 2px solid rgba(255,255,255,0.5);
   border-radius: 20px;
   backdrop-filter: blur(15px);
   display: flex;
/*   justify-content: center;*/
   align-items: left;
}

#contacts td input {
   border-radius: 17px;
   font-family: 'Montserrat';
   outline: 0;
   background: #fbde99;
   width: 100%;
   border: 0;
   margin: 0 0 15px;
   padding: 10px;
   box-sizing: border-box;
   font-size: 14px;
}

/* button formatting */
.btn {
   color: #007D2F;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: bolder;
   font-size: 2.3vw;
   background: none;
   border: none;
   cursor: pointer;
   padding: 0.3em 1.2em;
   margin: 0.6em 0.3em 0.3em 0;
   float: right;
}

.addContacts{
   line-height: 48px;
   position: absolute;
   left: 475px;
   width: 910px;
   height: 745px;
   background: transparent;
   border: 2px solid rgba(255,255,255,0.5);
   border-radius: 20px;
   backdrop-filter: blur(15px);
   display: flex;
   justify-content: center;
   align-items: left;
}

/*search bar*/
.search-container input[type=text]{
   position: absolute;
   width: 180px;
   height: 18px;
   margin: 12px 12px;
   background: rgba(217, 217, 217, 0.3);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 20px;
   font-size: 15px;
   color: #FFFFFF;
   font-family: 'Poppins';
   padding: 6px 20px;
   display: flex;
   align-items: center;
   cursor: pointer;


}

.search-container .search-btn .fas {
   position: absolute;
   color: rgba(217, 217, 217, 0.3);
      vertical-align: top;
}

/*.search-container:hover>.search-input {
   width: 400px;
}*/

.addContacts {
    align-self: center;
}

/*applies to all of addMe*/
#addMe {
   color: white;
   margin: auto;
   top: 80px;
   align-self: center;
   font-family: 'Poppins';
   border-radius: 20px;
   position: absolute;
   max-width: 350px;
/*   margin: 0 auto 50px;*/
   text-align: center;
}

/*input boxes for contact*/
#addMe input {
   border: 2px solid rgba(255,255,255,0.5);
   border-radius: 12px;
   background: transparent;
   width: 100px;
   padding: 5px;
   font-size: 14px;
   color: white;
}

/* button formatting */
/*.btn {
    color: #007D2F;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bolder;
    font-size: 2.3vw;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.3em 1.2em;
    margin: 0.6em 0.3em 0.3em 0;
    float: right;
}*/


#addMe>input:valid {
   border: 2px solid #009345;
   ;
}

#addMe>input:invalid {
   border: 2px solid red;
}

#addMe>input:invalid:required {
   background-image: white;
}

/*"done" button to add contact*/
#addMe button {
   font-family: "Montserrat";
   position: absolute;
   width: 100px;
   height: 44px;

   background: transparent;
   color: white;
   font-size: 18px;
   border-radius: 5px;
   top: 429px;
   right: -250px;
}

.search-container .search-input {
   background: transparent;
   border: none;
   outline: none;
   width: 0px;
   font-family: 'Montserrat';
   font-weight: 500;
   font-size: 16px;
   transition: 0.8s;
}


/* table {
   width:100%;
   table-layout: fixed;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

.tbl-content {
   height: 300px;
   overflow-x: auto;
   margin-top: 0px;
   border: 1px solid rgba(155, 188, 115, 0.9);
}

#contacts td,
#contacts th {
   border: 1px solid rgba(155, 188, 115, 0.9);
}

#contacts tr:hover {
   background-color: #478fbb;
}

#contacts th {
   padding: 20px 15px;
   text-align: left;
   font-family: 'Montserrat';
   font-weight: 500;
   font-size: 16px;
   font-weight: bold;
   color: #007D2F;
   background-color: rgba(155, 188, 115, 0.9);
   text-transform: uppercase;
}

#contacts td {
   padding: 15px;
   text-align: left;
   font-family: 'Montserrat';
   vertical-align: middle;
   font-weight: 300;
   font-size: 15px;
   font-weight: bold;
   color: #66471b;
   background-color: antiquewhite;
}
#contacts td span {
   display: block;
   white-space: nowrap;
   overflow: hidden;
   font-size: 100%;
   color: #66471b;
} */